@import "./vars.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.App {
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.topBlur {
  position: fixed;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: 280px;
  left: -10vw;
  border-radius: 764px;
  background: var(--color-secondary);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: fixed;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  top: 480px;
  right: -25vw;
  border-radius: 764px;
  background: var(--color-secondary);
  filter: blur(100px);
  z-index: 0;
}
